<mat-toolbar>
  <mat-toolbar-row class="toolbar-row">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="./assets/logoName.svg" alt="Company logo name" class="logo-name" [routerLink]="'./booking'">
    <div>
      <ul>
        <li>
          <div [matMenuTriggerFor]="menu" class="profile-button">
            <img src="./assets/user1.jpg" alt="" class="user-image"/>
              {{userName}}
            <mat-icon class="user-image-icon">
              keyboard_arrow_down
            </mat-icon>
          </div>
          <mat-menu #menu="matMenu">
            <button  
              *ngIf="role === 'admin'"
              mat-menu-item 
              routerLink="./add-user">
              <mat-icon>add_circle</mat-icon>
              Add Admin/Instructor
            </button>
            <button mat-menu-item (click)="openLogoutDialog()">
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>