<mat-nav-list>
  <div class="logo">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <!-- <mat-divider></mat-divider> -->
  <h2 matSubheader>APPLICATIONS</h2>

  <a mat-list-item routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLink="/booking">
    <mat-icon>calendar_today</mat-icon> Book Lesson
  </a>
  <a mat-list-item routerLink="/lessons"> 
    <mat-icon>list</mat-icon> My Lessons 
  </a>
  <a mat-list-item routerLink="/account">
    <mat-icon>person_outline</mat-icon> Account
  </a>
</mat-nav-list>
