<mat-nav-list>
  <div class="logo">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  
  <a *ngIf="role != 'instructor'" mat-list-item routerLink="/booking">
    <mat-icon>calendar_today</mat-icon> Available Time Slots
  </a>
  <a *ngIf="role != 'student'" mat-list-item routerLink="/add-lessons">
    <mat-icon>playlist_add</mat-icon> Add Lessons
  </a>
  <a mat-list-item routerLink="/lessons"> 
    <mat-icon>list</mat-icon> 
    <ng-container *ngIf="role != 'admin'">My</ng-container> 
    <ng-container *ngIf="role === 'admin'">All</ng-container> 
    Lessons 
  </a>
  <a *ngIf="role != 'instructor'" mat-list-item routerLink="/payments">
    <mat-icon>payment</mat-icon> 
    <ng-container *ngIf="role != 'admin'">My</ng-container> 
    <ng-container *ngIf="role === 'admin'">All</ng-container> 
    Payments
  </a>
  <a mat-list-item routerLink="/account">
    <mat-icon>person_outline</mat-icon> Account
  </a>
</mat-nav-list>
