:host .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
  }

.logo {
  text-align: center;
  img {
    width: 180px;
  }
}

.mat-divider {
  border-top-width: 2px;
  border-color: red;
}
