<div class="payment-page-wrapper">
  <div class="payment-wrapper">
    <div class="payment-header">
      <h3 class="payment-header-title">Payments</h3>
      <button *ngIf="hasToPay && sumToPay"
        mat-button [routerLink]="'./../payment'" 
        class="payment-button">
        <div>Total: {{sumToPay}}$</div>
      </button>
    </div>
    <div>
      <app-loading-spinner *ngIf="isLoading; else payments" class="loader"></app-loading-spinner>
      <ng-template #payments>
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef style="width: 20%;">Date</th>
            <td mat-cell *matCellDef="let payment">
              <div *ngIf="payment.method != unpaid;">
                {{ payment.date | date:'d LLLL yyyy, hh:mm' }}
              </div>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="sum">
            <th mat-header-cell *matHeaderCellDef style="width: 20%;">Sum</th>
            <td mat-cell *matCellDef="let payment">{{ payment.sum }} RON </td>
          </ng-container>
        
          <ng-container matColumnDef="paymentMethod" style="width: 20%;">
            <th mat-header-cell *matHeaderCellDef>Payment Method</th>
            <td mat-cell *matCellDef="let payment">
              <div class="payment-chip">
                {{ getMethodText(payment.method) }}
              </div>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="addedBy" style="width: 20%;">
            <th mat-header-cell *matHeaderCellDef>Added By</th>
            <td mat-cell *matCellDef="let payment">
              {{ payment.addedBy }}
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
      </ng-template>
    </div>
  </div>
</div>

