<div class="payment-page-wrapper">
  <div class="payment-wrapper">
    <div class="payment-header">
      <div class="title-container">
        <h1 class="booking-header-title"> My Payments</h1>
        <mat-icon matTooltip="This section allows you to view your past payments and make payments for booked lesson.">
          info_outline
        </mat-icon>
      </div>
      <button *ngIf="hasToPay && sumToPay"
        [matTooltip]="'Proceed with payment'"
        [matTooltipShowDelay]="tooltipShowDelay"
        mat-button [routerLink]="'./../payment'" 
        class="payment-button">
        Total: {{sumToPay}}
        <mat-icon iconPositionEnd>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <div>
      <app-loading-spinner *ngIf="isLoading" class="loader"></app-loading-spinner>
      <div [ngClass]="{'hidden-payment-content': isLoading}">
        <div class="payment-filter">
          <app-date-filter></app-date-filter>
          <app-payment-method-filter></app-payment-method-filter>
          <app-student-filter *ngIf="userRole == 'admin'"></app-student-filter>
        </div>
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef style="width: 20%;">Date</th>
            <td mat-cell *matCellDef="let payment">
              <div *ngIf="payment.method != unpaid;">
                {{ payment.date | date:'d LLLL yyyy, HH:mm' }}
              </div>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="sum">
            <th mat-header-cell *matHeaderCellDef style="width: 20%;">Sum</th>
            <td mat-cell *matCellDef="let payment">{{ payment.sum }} RON </td>
          </ng-container>
        
          <ng-container matColumnDef="paymentMethod" style="width: 20%;">
            <th mat-header-cell *matHeaderCellDef>Payment Method</th>
            <td mat-cell *matCellDef="let payment">
              <div 
                class="payment-chip" 
                [ngClass]="{'card-chip': payment.method === card, 
                            'cash-chip' : payment.method === cash, 
                            'unpaid-chip' : payment.method === unpaid}">
                {{ getMethodText(payment.method) }}
              </div>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="addedBy" style="width: 20%;">
            <th mat-header-cell *matHeaderCellDef>Added By</th>
            <td mat-cell *matCellDef="let payment">
              {{ payment.addedBy }}
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>

