.payment-wrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  width: 95%;
  gap: 30px;
  background-color: #FFFFFF;
  border: 1px solid #EDEDED;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.01);
}

.payment-page-wrapper {
  padding: 50px;
}

.payment-header {
  display: flex;
  height: 3em;
  justify-content: space-between;
  &-title {
      font-size: 30px;
      font-weight: lighter;
      font-family: "SegoeRegular", serif;
  }
}

.payment-button {
  display: flex;
  align-items: center;
  background-color:#20a8d8;
  color: #fff !important;
  &  p {
    margin-bottom: 0 !important;
  }
}

.payment-chip {
  display: inline-block;
  text-align: center;
  color: #fff;
  padding: 5px 15px;
  border: 1px solid;
  border-radius: 3px;
}

.unpaid-chip {
  background-color: red;
  animation: pulse 2s ease-in-out infinite;
}

.card-chip {
  background-color: #ADD8E6;
}

.cash-chip {
  background-color: #90EE90;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
