.about-us-wrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  width: 95%;
  gap: 30px;
  background-color: #ffffff;
  border: 1px solid #ededed;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.01);
}

.about-us-page-wrapper {
  padding: 50px;
}

.about-us-header {
  display: flex;
  height: 3em;
  justify-content: space-between;
  align-items: center;
  &-title {
    font-size: 30px;
    font-weight: lighter;
    font-family: "SegoeRegular", serif;
  }
}
.about-us-content {
  margin: 0 20px;
}

:host p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
}
