<div class="lesson-page-wrapper">
  <div class="lesson-wrapper">
    <div class="lesson-header">
      <div class="title-container">
        <h3 class="lesson-header-title"> 
          <ng-container *ngIf="userRole != 'admin'">My</ng-container> Lessons
          </h3>
        <mat-icon matTooltip="Lessons: This section displays only the lessons that have been paid for. If you have booked a lesson but haven't made the payment yet, please proceed to the payments section and complete the payment for your booked lesson. You have the option to cancel a lesson at any time, and the refunded amount will be reverted back to your card." >
          info_outline
        </mat-icon>
      </div>
    </div>
    <app-loading-spinner *ngIf="isLoading" class="loader"></app-loading-spinner>
    <div [ngClass]="{'hidden-lesson-content': isLoading}">
      <div class="lessons-filter">
        <app-date-filter></app-date-filter>
        <app-student-filter *ngIf="userRole != 'student'"></app-student-filter>
        <app-instructor-filter *ngIf="userRole != 'instructor'"></app-instructor-filter>
        <app-status-filter></app-status-filter>
      </div>
      <mat-divider></mat-divider>
      <table matSort mat-table [dataSource]="dataSource" matSortActive="date" matSortDirection="desc">
        <ng-container matColumnDef="date">
          <th mat-sort-header="date" disableClear mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let lesson">{{ lesson.startTime | date : 'EEEE, MMMM d, y'}}</td>
        </ng-container>
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Time</th>
          <td mat-cell *matCellDef="let lesson">
            {{ lesson.startTime | date : 'h:mm a' }} - {{ lesson.endTime | date : 'h:mm a' }}</td>
        </ng-container>
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef>Location</th>
          <td mat-cell *matCellDef="let lesson">{{ lesson.location }}</td>
        </ng-container>
        <ng-container matColumnDef="instructor">
          <th mat-header-cell *matHeaderCellDef>Instructor</th>
          <td mat-cell *matCellDef="let lesson">{{ lesson.instructorName }}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let lesson"
            [ngClass]="{'completed-status': lesson.status == lessonCompleted , 'upcoming-status' : lesson.status == lessonUpcoming, 'unbooked-status' : lesson.status == lessonUnbooked}">
            {{ getLessonStatus(lesson.status) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let lesson">
            <button
              mat-icon-button (click)="deleteLesson(lesson.id, lesson.status)"
              [matTooltip]="lesson.status != lessonCompleted ? 'Delete' : 'Deleting a completed lesson is not allowed'"
              [matTooltipShowDelay]="showDelay" 
              [matTooltipDisabled]="false"
              [ngClass]="{'cancel-mat-icon-disabled': lesson.status === lessonCompleted}">
              <mat-icon class="cancel-icon">cancel</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [ngClass]="{'completed-lesson-row': row.status== lessonCompleted}"></tr>
      </table>
      <mat-paginator [length]="totalCount" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons [pageSize]="pageSize">
      </mat-paginator>
    </div>
  </div>
</div>