.faq-wrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  width: 95%;
  gap: 30px;
  background-color: #FFFFFF;
  border: 1px solid #EDEDED;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.01);
}

.faq-page-wrapper {
  padding: 50px;
}

.faq-header {
  display: flex;
  height: 3em;
  justify-content: space-between;
  align-items: center;
  &-title {
      font-size: 30px;
      font-weight: lighter;
      font-family: "SegoeRegular", serif;
  }
}

.faq-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  height: 50vh;
  color: grey;
}