<div class="booking-lessons">
  <div class="booking-lessons-header">
    <button 
      mat-button 
      class="today-button" 
      (click)="onTodayButtonClick()">
      Today
    </button>
    <div> {{ selectedDate | date:'d MMMM'}} - {{ dueDate | date:'d MMMM'}}</div>
    <div>
      <button mat-icon-button (click)="onBackwardButtonClick()">
        <mat-icon class="arrow-icon">keyboard_arrow_left</mat-icon>
      </button>
      <button mat-icon-button (click)="onForwardButtonClick()">
        <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <app-loading-spinner *ngIf="isLoading; else content"></app-loading-spinner>
    <ng-template #content>
      <mat-accordion multi displayMode="flat">
        <mat-expansion-panel *ngFor="let lesson of lessons" class="booking-lessons-mat-expansion-panel" [expanded]="lesson.lessonsDetails.length > 0">
          <mat-expansion-panel-header>
            <mat-panel-title> {{ lesson.date | date:'EEEE, d LLLL yyyy'}} </mat-panel-title>
            <mat-panel-description>
              Instructor
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-container *ngIf="lesson.lessonsDetails.length > 0; else noLessons" >
            <div *ngFor="let lessonsDetails of lesson.lessonsDetails" 
              class="panel-lesson" 
              [ngClass]="{'booked-not-paid-lesson': lessonsDetails.status === lessonBookedNotPaidStatus, 'unavailable-lesson': !lessonsDetails.canBook}"
              (click)="onSelectLesson(lessonsDetails)">
              <div> {{lessonsDetails.startTime | date:'h:mm' }} - {{lessonsDetails.endTime | date:'h:mm'}} </div>
              <div> {{lessonsDetails.instructorName }} / {{lessonsDetails.carManufacturer }} {{lessonsDetails.carModel }}/  {{ getGearTypeText(lessonsDetails.carGear) }} </div>
            </div>
          </ng-container>
          <ng-template #noLessons>
            <div class="no-lessons-message"> There are no available lessons </div>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-template>
  </div>
</div>
