.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
::ng-deep .mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #e0e0e0;
}