
<div class="booking-page-wrapper">
  <div class="booking-wrapper">
    <div class="booking-header">
      <h1 class="booking-header-title"> Available Time Slots</h1>
        <button mat-button class="payment-message" [matTooltip]="'Proceed with lesson(s) payment'"
          [matTooltipShowDelay]="tooltipShowDelay">
          <p>Payment $</p>
        </button> 
    </div>
    <div class="book-booking-container">
      <app-booking-sidebar class="sidebar-section"></app-booking-sidebar>
      <app-booking-lessons class="booking-lessons-section"></app-booking-lessons>
    </div>
  </div>
</div>
