.book-booking-container {
  display: flex;
  gap: 30px;
}

.booking-wrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  width: 95%;
  gap: 30px;
  background-color: #FFFFFF;
  border: 1px solid #EDEDED;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.01);
}

.booking-page-wrapper {
  padding: 50px;
}

.booking-header {
  display: flex;
  height: 3em;
  justify-content: space-between;
  align-items: center;
  &-title {
      font-size: 30px;
      font-weight: lighter;
      font-family: "SegoeRegular", serif;
  }
}

.booking-lessons-section {
  width: 100%;
}

.payment-message {
  background-color: #4dbd74;
  color: #fff !important;
  animation: pulse 2s ease-in-out infinite;
  &  p {
    margin-bottom: 0 !important;
  }
}

.title-container {
  display: flex;
  gap: 10px;
  align-items: baseline;
  > mat-icon {
    color: #CCCCCC;
  }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}