.side-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-section-title {
  margin: 0 0 10px;
}


.mdc-text-field,
.mdc-text-field--filled:not  {
  background-color: #fff;
}

.mat-accordion .mat-expansion-panel {
  margin-bottom: 10px;
  border: 1px solid #EDEDED;
  border-radius: 10px;
  box-shadow: none;
}

.instructor-profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  & .instructor-photo {
    align-self: center;
    height: 100px;
    width: 100px;
  }
}

.phone-number {
  color: #20a8d8;
  font-weight: bold;
  font-style: italic;
  font-family: "Arial", sans-serif;
}

.registration-number-info,
.location-info {
  font-weight: bold;
  font-family: "Arial", sans-serif;
}

.chip-container {
  display: flex;
  width: 250px;
}

.car-name-chip {
  color: #fff !important;
  background-color: #20a8d8 !important;
}

.person-icon {
  margin: 0 10px 2px;
}

::ng-deep .mat-calendar-body-selected {
  background-color: #20a8d8;
}

::ng-deep .mat-calendar-body-active  {
  background-color: red;
}

@media (hover: hover) {
  ::ng-deep .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: rgba(32, 168, 216, .3);
  }
}

::ng-deep .cdk-program-focused .mat-calendar-body-active .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: rgba(32, 168, 216, .3) ;
}
