<div class="side-bar">
  <div class="calendar">
    <mat-card>
      <mat-calendar [(selected)]="today"></mat-calendar>
    </mat-card>
  </div>
  <div>
    <h2 class="sidebar-section-title">Gear Type</h2>
    <app-gear-buttons (carGearOutput)="handleGearTypeChange($event)"></app-gear-buttons>
  </div>
  <div>
    <h2 class="sidebar-section-title">Car Model</h2>
    <app-car-filter [carGear]="gearType" (carFilterOutput)="handleCarFilterChange($event)"></app-car-filter>
  </div>
  <div class="instructors-container">
    <h2 class="sidebar-section-title">Instructors</h2>
  </div>
  <mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let instructor of instructors">
      <mat-expansion-panel-header>
        <mat-panel-title> 
          <mat-icon class="person-icon">
            person_outline
          </mat-icon> 
          {{ instructor.fullName }} 
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="instructor-profile">
        <img src="../../../../assets/img_avatar.png" class="instructor-photo" alt="Avatar">
        <div>
          <p> Phone  
            <span class="phone-number"> 
              {{ instructor.phoneNumber }}
            </span>
          </p>
          <p> Location
            <span class="location-info"> 
              {{ instructor.location }} 
            </span>
          </p>
        </div>
        <div class="chip-container">
          <mat-chip-set>
            <mat-chip *ngFor="let car of instructor.cars" class="car-name-chip"> 
              {{ car.name }} 
            </mat-chip>
            <div>
              <mat-chip> 
                {{ getGearTypeText(instructor.gearType) }} 
              </mat-chip>
            </div>
          </mat-chip-set>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>