<div class="account-page-wrapper">
  <div class="account-wrapper">
    <div class="account-header">
      <h3 class="account-header-title">Account</h3>
      <button 
        mat-button 
        routerLink="/account/edit" 
        [matTooltip]="'Edit Account'"
        [matTooltipShowDelay]="showDelayTooltip">
        <mat-icon>edit</mat-icon>
        Edit
    </button>
    </div>
    <div>
      <app-loading-spinner *ngIf="isLoading; else profile" class="loader"></app-loading-spinner>
      <ng-template #profile>
        <div class="profile-details">
          <div class="profile-picture">
            <span class="profile-picture-initials"> {{student.firstName.charAt(0) + student.lastName.charAt(0)}} </span>
          </div>
          <div class="profile-info">
            <div>
              <p> Fist Name </p>
              <p> {{ student.firstName }} </p>
            </div>
            <div>
              <p> Last Name </p>
              <p> {{ student.lastName }} </p>
            </div>
            <div>
              <p> Birthday </p>
              <p> {{ student.birthday | date: 'dd.MM.yyyy'}} </p>
            </div>
            <div>
              <p> Email </p>
              <p> {{ student.email }} </p>
            </div>
            <div>
              <p> Phone Number </p>
              <p> {{ student.phoneNumber }} </p>
            </div>
            <div>
              <p> Gear </p>
              <p> {{ getGearTypeText(student.gear) }} </p>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>