:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 240px;
}

mat-drawer-container {
  height: 100%;
  background-color: #f8f8f8;
}

mat-drawer {
  background: #f5f5f5;
}
